.box {
    padding: 10rem 2rem;
    background-color: var(--color-primary-faded);
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

    @media (--small) {
        padding: 7rem 2rem;
    }
}