.form {
    display: flex;
    justify-content: space-around;

    @media (--small) {
        flex-direction: column;
    }

    > div:last-of-type {
        display: none;
    }

    &-error {
        color: var(--red);
        font-size: var(--font-size-small);
    }
}