.header {
    background-color: var(--color-primary);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {

    &__list {
        list-style-type: none;
        display: flex;
        font-size: var(--font-size-small);
    }

    &__item {
        display: inline-block;
        text-align: center;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    &__link {
        color: var(--white);
        text-decoration: none;
        display: inline-block;
        padding-bottom: .5rem;
        position: relative;

        &::after {
            width: 0;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 2px solid var(--white);
            transition: .3s;
        }

        &:--hocus::after {
            width: 100%;
        }
    }
}
