<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/main') }}
    {% endblock %}
    {% block javascript %}
    {% for upload_validation in encore_entry_js_files('js/upload-validation') %}
        <script src="{{ asset(upload_validation) }}" async></script>
    {% endfor %}
{% endblock %}
</head>
<body>
{{ form(convertForm) }}
</body>
</html>
