:root {
    --main-font: 'Montserrat', sans-serif;
    --red: #D42124;
    --font-size-regular: 1.8rem;
    --font-size-small: 1.6rem;
    --color-primary: #0079D9;
    --color-primary-light: #0096e1;
    --color-primary-faded: rgba(14, 127, 210, .1);
    --white: #f1e5e6;
}

@custom-selector :--hocus :hover, :focus;